/**
 * CSS for hrecipe microformat plugin
 *
 * @package hRecipe Microformat
 * @author Kenneth J. Brucker <ken@pumastudios.com>
 * @copyright 2011 Kenneth J. Brucker (email: ken@pumastudios.com)
 * 
 * This file is part of hRecipe Microformat, a plugin for Wordpress.
 *
 * Copyright 2011  Kenneth J. Brucker  (email : ken@pumastudios.com)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License, version 2, as 
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 **/


/* ================================ */
/* = Recipe Header/Footer content = */
/* ================================ */
.hrecipe-head, .hrecipe-footer {
	border: 1px solid ;
	padding: 3px;
	margin: 5px 0;
	clear: both;
}
.hrecipe-head-field, .hrecipe-footer-field {
	display: inline-block;
	width: 30%;
	padding: 3px;
	margin: 3px;
}

/* ===================== */
/* = Recipe Difficulty = */
/* ===================== */

.recipe-difficulty-on, .recipe-difficulty-off {
	position: relative;
	height: 24px;
	width: 120px; /* 5 x width of icon*/
	background: url(images/icons.png) repeat-x;
}
.recipe-difficulty-on {
	background-position: 0 -24px;
	position: absolute;
}
.recipe-difficulty-0 {
	width: 0px;
}
.recipe-difficulty-1 {
	width: 24px;
}
.recipe-difficulty-2 {
	width: 48px;
}
.recipe-difficulty-3 {
	width: 72px;
}
.recipe-difficulty-4 {
	width: 96px;
}
.recipe-difficulty-5 {
	width: 120px;
}


/* ================= */
/* = Recipe Rating = */
/* ================= */

/* Hide the stars select - stars displayed via javascript */
.recipe-stars select {
	display: none;
}

/* If javascript not available, can't vote on recipe rating */
.no-js .recipe-user-rating {
	display: none;
}

/* Rated Recipe */
.recipe-stars-off, .recipe-stars-on {
	position: relative;
	height: 16px;
	width: 80px;
	background: url(lib/jquery.ui.stars-3.0/jquery.ui.stars.gif) repeat-x 0 -32px;
}
.recipe-stars-on {
    position: absolute;
    background-position: 0 -48px;
}
.recipe-stars .recipe-avg-rating {
	display: inherit;
}
.recipe-stars .recipe-unrated {
	display: none;
}
.recipe-stars .thank-you {
	display: none;
	position: absolute;
	background: #ffffff;
}

/* Unrated Recipe */
.recipe-stars.unrated .recipe-avg-rating {
	display: none;
}
.recipe-stars.unrated .recipe-unrated {
	display: inherit;
}

/* ================ */
/* = Recipe Title = */
/* ================ */
.fn {
	font-size: 1.5em;
}

/* =================================== */
/* = Ingredient and Ingredient Lists = */
/* =================================== */
.ingredients {
	clear: both;
	width: 625px;
	margin: 5px 25px;
	padding: 5px;
	border: black solid 1px;
	font-family: 'Annie Use Your Telescope', arial, serif;
	background: rgb(255,255,255);
}

.ingredients th {
	border-bottom: rgb(255, 19, 0) solid 2px;
	background: inherit;
	height: 2em;
}

tr.ingredient td, tr.ingredient:nth-child(2n) td {
	background: inherit;
	border-bottom: rgb(99, 195, 251) solid 1px;
}

.ingredient .value {
	padding-right: .5em;
}
.ingredient .type {
}
.ingredient .ingrd {
}
.ingredient .comment:before {
	content: " – ";
}
.ingredient .comment {
	font-style: italic;
}

/* ================ */
/* = Instructions = */
/* ================ */
.step {
	clear: both;
	margin: 0 0 1.5em;
}

/* ================ */
/* = Recipe Hints = */
/* ================ */
.hrecipe-hint:before {
	font-family: Impact, Charcoal, sans-serif;
	font-style: normal;
	content: "Hint";
	font-size: 1.4em;
	position: absolute;
	top: -.1em;
	left: 7px;
	padding: 0 5px;
}

.hrecipe-hint {
	display: block;
	clear: both;
	padding: 1.5em 10px 10px 20px;
	margin-bottom: 20px;
	border: 1px solid #381b42;
	font-style: italic;
	position: relative;
}

/* ========== */
/* = Images = */
/* ========== */

.hrecipe img {
	padding: 5px;
}