.hrecipe, .fn, .recipeid, .ingredient, .comment, .yield, .instructions, .instruction, .duration, .preptime, .cooktime, .summary, .author, .published, .category, .difficulty {

}

.value, .type {
	
}

.hrecipe-head, .hrecipe-footer {
	border: 1px solid ;
	padding: 3px;
	margin: 0 20px;
}
.hrecipe-head{
	margin-top: 5px;
}
.hrecipe-footer {
	margin-bottom: 5px;
}

.hrecipe-head div, .hrecipe-footer div {
	display: inline-block;
	width: 30%;
	padding: 3px;
	margin: 3px;
}

.fn {
	font-size: 1.5em;
}

.ingredients {
	clear: both;
	width: 625px;
	margin: 0 25px;
	padding: 5px;
	border: black solid 1px;
	font-family: 'Indie Flower', arial, serif;
}

.ingredients th {
	border-bottom: rgb(255, 19, 0) solid 2px;
}

tr.ingredient td, tr.ingredient:nth-child(2n) td {
	background: none;
	border-bottom: rgb(99, 195, 251) solid 1px;
}

.ingredient .value {
	display: inline-block;
	padding-right: .5em;
}
.ingredient .type {
	display: inline-block;
}
.ingredient .ingrd {
	display: inline-block;
	padding-right: 1em;
}
.ingredient .comment {
	display: inline-block;
	font-style: italic;
}

.hrecipe-hint:before {
	font-family: Impact, Charcoal, sans-serif;
	font-style: normal;
	content: "Hint";
	font-size: 1.4em;
	position: absolute;
	top: -.1em;
	left: 7px;
	padding: 0 5px;
}

.hrecipe-hint {
	display: block;
	clear: both;
	padding: 1.5em 10px 10px 20px;
	margin-bottom: 20px;
	border: 1px solid #381b42;
	font-style: italic;
	position: relative;
}
