/**
 * Style the hrecipe admin screens
 **/

.menu-item-handle {
	cursor: move;
	display: inline;
	padding: 5px;
	margin: 10px;
}

.sort-handle {
	cursor: move;
}

.ui-buttons li {
	list-style-type: none;
	float: left;
}