/**
 * Style the hrecipe admin screens
 *
 * @package hRecipe Microformat
 * @author Kenneth J. Brucker <ken@pumastudios.com>
 * @copyright 2011 Kenneth J. Brucker (email: ken@pumastudios.com)
 * 
 * This file is part of hRecipe Microformat, a plugin for Wordpress.
 *
 * Copyright 2011  Kenneth J. Brucker  (email : ken@pumastudios.com)
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License, version 2, as 
 * published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 **/

/* ==================================== */
/* = Admin Settings Screen Formatting = */
/* ==================================== */

/* Style drag-and-drop menu */
.menu-item-handle {
	cursor: move;
	display: inline;
	padding: 5px;
	margin: 10px;
}

/* ======================================= */
/* = Recipe Post Type Metabox formatting = */
/* ======================================= */

.sort-handle {
	cursor: move;
}

.recipe-ingrd-row li {
	list-style-type: none;
	float: left;
}

/**
  * #hrecipe_info id for metabox containing additional recipe info
  *
  * #hrecipe-ingredients id for metabox to define recipe ingregients - holds one or more lists
  * .ingrd-list class assigned to each the box around each recipe ingredient list on admin screen
  * .ingrd-list-title class Title of ingredient list
  * .value class Ingredient quantity
  * .type class Ingredient Units
  * .ingrd class Ingredient name
  * .ingrd comment Ingredient comments
  */

.ingrd-list {
	margin: 1em 0;
}
/* TODO Adjust widths of ingredient input fields - how to make dynamic to fit browser width? */
.ingrd-list-title input {
	width: 400px;
	font-size: 130%;
}
.ingrd-list .value {
	width: 50px;
}
.ingrd-list .type {
	width: 80px;
}
.ingrd-list .ingrd {
	width: 200px;
}
.ingrd-list .comment {
	width: 200px;
}

.ingrd-list, #hrecipe_info p {
	padding: 5px;
	border: 1px solid #dfdfdf;
	border-radius: 6px;
}

/* Hide the lock status if ingredient is not linked to member in the DB */
.recipe-ingrd-row .ingrd-locked {
	display: none;
}
/* Display locked state for an ingredient */
.recipe-ingrd-row.food-linked .ingrd-locked{
	display: block;
}

/* No border on the alert for linked food item */
.recipe-ingrd-row .food-linked-status {
	border: 0px;
}
/* Hide Alert icon when there is a linked food */
.recipe-ingrd-row.food-linked .food-linked-status {
	display: none;
}

#hrecipe_info .field-label, .ingrd-list .field-label {
	width: 125px;
	font-size: 130%;
	display: inline-block;
}

#hrecipe_info .field-description, .ingrd-list .field-description{
	display: block;
	margin-left: 127px;
}

#hrecipe_info .radio-button {
	margin-right: 15px;
}
#hrecipe_info .radio-button input {
	margin-right: 5px;
}

/* ==================================== */
/* = Add Ingredients Page Formatting  = */
/* ==================================== */

.hidden {
	display: none; // Class to hide objects by default
}

tr.prototype {
	display: none; // Hide prototype rows used to build tables
}