/* ================================================================ */
/* = Provide hints in TinyMCE regarding how a recipe is formatted = */
/* ================================================================ */

/* Flag special recipe fields in the editor window */
.comment:before, .value:before, .type:before, .ingrd:before, .step:before, .hrecipe-hint:before {
	padding-right: 3px;
	font-size: .5em;
	color: red;	
}
.ingredients, .instructions, .hrecipe-hint {
	border: 1px red solid;
}

.ingredients {
	clear: both;
}

/* Show element type in editor window */
.ingredient .value:before {
	content: "{Qty}";
}
.ingredient .type:before {
	content: "{Unit}";
}
.ingredient .ingrd:before {
	content: "{Ingredient}";
}
.ingredient .comment:before {
	content: "{Comment}";
}
.hrecipe-hint:before {
	content: "{Hint}";
}
.instructions .step:before {
	content: "{Step}";
}
