/* ================================================================ */
/* = Provide hints in TinyMCE regarding how a recipe is formatted = */
/* ================================================================ */

/* Flag special recipe fields in the editor window */
.hrecipe:before, .fn:before, .recipeid:before, .ingredient:before, .comment:before, .yield:before, .instructions:before, .step:before, .duration:before, .preptime:before, .cooktime:before, .hrecipe-summary:before, .author:before, .published:before, .category:before, .difficulty:before, .value:before, .type:before, .ingrd:before, .hrecipe-hint:before {
	padding-right: 3px;
	font-size: .5em;
	color: red;	
}
.hrecipe, .fn, .recipeid, .ingredients, .ingredient, .yield, .instructions, .step, .duration, .preptime, .cooktime, .hrecipe-summary, .author, .published, .category, .difficulty, .hrecipe-hint {
	border: 1px red solid;
}

/* Show element type in editor window */
.hrecipe:before {
	content: "{Recipe}";
}
.fn:before {
	content: "{Recipe Title}";
}
.recipeid:before {
	content: "{Recipe ID}";
}
.ingredient:before {
	content: "{Ingredient}";
}
.ingredient .value:before {
	content: "{Qty}";
}
.ingredient .type:before {
	content: "{Unit}";
}
.ingredient .ingrd:before {
	content: "{Ingrd}";
}
.ingredient .comment:before {
	content: "{Comment}";
}
.hrecipe-hint:before {
	content: "{Hint}";
}
.yield:before {
	content: "{Yield}";
}
.instructions:before {
	content: "{Instructions}";
}
.instructions .step:before {
	content: "{Step}";
}
.duration:before {
	content: "{Duration}";
}
.preptime:before {
	content: "Prep Time";
}
.cooktime:before {
	content: "Cook Time";
}
.hrecipe-summary:before {
	content: "Summary";
}
.author:before {
	content: "Author";
}
.published:before {
	content: "Published";
}
.category:before {
	content: "Category";
}
.difficulty:before {
	content: "Difficulty";
}
